@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  width: 1194px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto';
}

body .titulo {
  color: #f4de67;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2em;
}

body .titulo-preto {
  text-align: center;
  color: #0b0a0a;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2em;
}

body header {
  background: #000000;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f4de67;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .logo img {
  padding-left: 10px;
  max-width: 177px;
}

body header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

body header .container nav ul li a {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}

body header .container nav ul li a:hover {
  color: #f4de67;
}

body header .container nav div {
  padding-left: 30px;
  padding-right: 10px;
}

body header .container nav div a {
  font-size: 1.5em;
  padding: 17px 26px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 40px;
}

body header .container nav div a:hover {
  color: #f4de67;
  border: 2px solid #f4de67;
}

body main section {
  font-family: 'Poppins';
}

body main section#seu-sonho {
  padding: 80px 0 80px 0;
  background: #0b0a0a;
}

body main section#seu-sonho .container.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body main section#seu-sonho .container.center iframe {
  display: block;
  max-width: 70%;
  padding: 0 20px;
  width: 600px;
  height: 300px;
  margin: 30px auto;
}

body main section#seu-sonho .container.center h2 {
  color: #f4de67;
  font-weight: bold;
  margin: 10px 0 35px 0;
  font-size: 1.5em;
}

body main section#seu-sonho .container.center h2:nth-child(4) {
  margin: 35px 0 50px 0;
}

body main section#seu-sonho .container.center p {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

body main section#seu-sonho .container.center p a {
  padding: 17px 26px;
  color: #f4de67;
  border: 2px solid #f4de67;
  border-radius: 40px;
}

body main section#seu-sonho .container.center p a:hover {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 40px;
}

body main section#sobre {
  margin: 130px 0;
}

body main section#sobre .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

body main section#sobre .container div img {
  display: block;
  margin: 0 auto;
  max-width: 345px;
  max-height: 345px;
  background: #f4de67;
  border: 2px solid #0b0a0a;
}

body main section#sobre .container p {
  max-width: 700px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0 20px;
}

body main section#curso {
  padding: 80px 0 120px 0;
  background: #0b0a0a;
}

body main section#curso .container {
  display: block;
  width: 100%;
  text-align: center;
}

body main section#curso .container .curso-list-marrara {
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section#curso .container .curso-list-marrara img {
  max-width: 230px;
  border: 5px solid #fff;
  border-radius: 40px;
}

body main section#curso .container .curso-list-bolo {
  margin: 90px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1194px;
}

body main section#curso .container .curso-list-bolo img {
  max-width: 30%;
}

body main section#apostila-curso {
  width: 100%;
  margin: 80px auto;
}

body main section#apostila-curso .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1194px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
}

body main section#apostila-curso .container div {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 50px auto;
}

body main section#apostila-curso .container div img {
  margin: 0 auto;
}

body main section#apostila-curso .container div p {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

body main section#meus-alunos {
  text-align: center;
  background: #0b0a0a;
  padding: 80px 0;
}

body main section#meus-alunos .container {
  width: 100%;
  max-width: 960px;
}

body main section#meus-alunos .container .alunos-list {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

body main section#meus-alunos .container .alunos-list iframe {
  width: 430px;
  height: 230px;
}

body main section#meus-alunos .container div h1 span {
  color: #fff;
}

body main section#meus-alunos .container div img {
  margin: 60px auto 0 auto;
}

body main section#garantia {
  padding: 80px 0;
}

body main section#garantia .container {
  width: 100%;
}

body main section#garantia .container h1 {
  text-align: center;
}

body main section#garantia .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

body main section#garantia .container div .garantia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main section#garantia .container div .garantia img {
  display: block;
  max-width: 100%;
}

body main section#garantia .container div .garantia a {
  margin-top: 50px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  padding: 13px 38px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-11.32%, rgba(244, 222, 103, 0.9)), color-stop(116.67%, rgba(0, 0, 0, 0.9)));
  background: linear-gradient(270deg, rgba(244, 222, 103, 0.9) -11.32%, rgba(0, 0, 0, 0.9) 116.67%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

body main section#garantia .container div .garantia a:hover {
  color: #f4de67;
}

body main section#garantia .container div .texto-garantia p {
  max-width: 667px;
  padding: 0 20px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.1em;
}

body footer {
  padding: 40px 0 10px 0;
  background: #0b0a0a;
}

body footer .container {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
  color: #f4de67;
}

body footer .container p {
  padding-bottom: 20px;
}

body footer .container p a {
  color: #f4de67;
  padding: 20px;
}

body footer .container p a:hover {
  color: #fff;
}

@media screen and (max-width: 960px) {
  body header .container nav ul {
    display: none;
  }
  body main section#garantia .container div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 620px) {
  body .titulo {
    font-size: 1.25em;
  }
  body .titulo-preto {
    font-size: 1.25em;
  }
  body header {
    padding: 15px 0;
  }
  body header .logo img {
    width: 70%;
  }
  body header nav ul li {
    display: none;
  }
  body header nav ul li a {
    display: none;
  }
  body header div {
    padding-right: 6px;
  }
  body header div a {
    font-size: 1em !important;
    padding: 11px 18px !important;
  }
  body main section#seu-sonho {
    padding: 60px 0 80px 0;
  }
  body main section#seu-sonho .container.center iframe {
    width: 400px;
    height: 200px;
  }
  body main section#seu-sonho .container.center h2 {
    font-size: 0.9em;
  }
  body main section#seu-sonho .container.center p {
    font-size: 1em;
  }
  body main section#sobre {
    margin: 60px 0;
  }
  body main section#sobre .container div img {
    width: 90%;
  }
  body main section#sobre .container p {
    max-width: 320px;
    font-size: 1em;
  }
  body main section#curso {
    padding: 60px 0 60px 0;
  }
  body main section#curso .container .curso-list-marrara {
    margin: 40px auto 60px auto;
    gap: 20px;
  }
  body main section#curso .container .curso-list-marrara img {
    max-width: 140px;
  }
  body main section#curso .container .curso-list-bolo {
    margin: 40px auto 0px auto;
    gap: 35px;
  }
  body main section#apostila-curso {
    margin: 60px auto;
  }
  body main section#apostila-curso .container div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 160px;
            flex: 1 1 160px;
    margin: 30px auto;
  }
  body main section#apostila-curso .container div img {
    max-width: 160px;
  }
  body main section#apostila-curso .container div p {
    font-size: 1em;
  }
  body main section#meus-alunos {
    padding: 60px 0;
  }
  body main section#meus-alunos .container .alunos-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section#meus-alunos .container .alunos-list iframe {
    width: 280px !important;
    height: 150px !important;
  }
  body main section#garantia {
    padding: 60px 0;
  }
  body main section#garantia .container div {
    gap: 0;
  }
  body main section#garantia .container div .garantia img {
    max-width: 60%;
  }
  body main section#garantia .container div .garantia a {
    font-size: 1em;
  }
  body main section#garantia .container div .texto-garantia {
    max-width: 380px;
    font-size: 0.75em;
  }
  body footer {
    padding: 20px 0 0 0;
  }
  body footer .container {
    font-size: 0.75em;
  }
  body footer .container p {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */